:root #content > #center > .dose > .dosesingle,
:root #content > #right > .dose > .dosesingle
{ display: none !important; }

body {
    font-family: Raleway, sans-serif;
    background-color: #eee;
}

div.note {
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    clear: both;
    overflow: auto;
    background-color: #eee;
}

div.example {
    margin: 0.1em;
    padding: 0.1em;
    background-color: #eee;
    clear: both;
    overflow: auto;
}

button {
    font-size: large;
    background-color: white;
    color: black;
    border-radius: 0.05rem;
    border: 1px solid black;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: black;
    color: white;
}


select {
    background-color: white;
    border: solid 1px black;
    font-size: medium;
    margin-left: 0.5rem;
}

path, line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    }

    .field {
    stroke: none;
    fill-opacity: 1.0;
    }

    .slope {
    stroke-width: 1;
    }

    .river {
    stroke-width: 2;
    }

    .coast {
    stroke-width: 4;
    }

    .border {
    stroke-width: 5;
    stroke-dasharray: 4,4;
    stroke-linecap: butt;
    }

    .road {
        stroke-width: 3;
        stroke: red;
        stroke-linecap: round;
    }

    .road-tree {
        stroke-width: 3;
        stroke: lightgreen;
        stroke-linecap: round;
    }

    text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    stroke: white;
    stroke-width: 5;
    stroke-linejoin: round;
    paint-order: stroke;
    }

    text.region {
    stroke-width:10;
    font-variant: small-caps;
    }

    svg {
    float: right;
    background-color: white;
    }